body {
	margin: 0;
	padding: 0;
	line-height: 1.5em;
	font-family: Verdana, Arial, san-serif;
	font-size:15px;
	background: #cc0000;
	border-radius: 5rem;
	text-align: center;
}
a:link, a:visited { color:#030964; font-weight: bold; text-decoration: none;} 
a:active, a:hover { color:#030964; text-decoration: none;
}

p {
	margin: 0px;
	padding: 0px;
}

img {
	margin: auto;
	padding: 1px;	
}

table {
	margin: auto;
	padding: 3px;
	line-height: 2;
	font-family:  Arial;
	font-size: medium;
	border: #2d2b29;
	text-align: center;
	width: 100%;
	
}

th{
	border-radius: 10px ;
	background-color:#4ecc21;
}
td{
	border-radius: 7px;
}
#cart{
	color: rgb(56, 8, 145);
	font-size: large;
}
input {
    font-family: Verdana;
    font-size: medium;
	background-color: #afdd9f;
	border-radius: 5px;
}
select {
    font-family: Verdana;
    font-size: medium;
    font-style: italic;
	font-weight: bold;
}
h3 {
	margin:auto;
}

.link{
	color:#030964;
	font-size: medium;
	text-align:left;
	margin: auto;
}
.cato_left{
	font-size: large;
	max-width:150px;
	margin: auto;
}

.item_list{
	width: 100%;
	max-height: 75%;
	font-weight: bold;

}
.zoom_img{
	width: 130%;
}

.cat_title{
	font-size: large;
	font-weight: bold;
	text-align: center;
}
.cat_title_2{
	font-size: small;
	font-weight: bold;
	text-align: center;
}
.navi_bar{
	background-color:#8ef574;
	position: fixed;
	
}
.space{
	padding: 40px;
}
.popup_item{
	position: fixed;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%) scale(0);
	border:1px solid black;
	border-radius: 10px;
	z-index: 10;
	background-color: rgb(204, 212, 184);
	width: 300px;
	max-width: 50%;
	transition:300ms ease-in-out;
}
.popup_item_h{
	padding: 10px 15px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid black;
	font-size: medium;
	font-weight: bold;
	
}
.popup_item_b{
	padding: 10px 15px;
	font-size: small;
	font-weight: bold;
	
}
.popup_item_buttions{
	padding: 10px 15px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.popup_item_buttions_2{
	padding: 5px 5px;
	display: flex;
	justify-content: space-between;
	width:200px; 
	height: 30px;
	border-radius: 8px;
	background-color: #e1f14d;
	font-weight: bold;
}

#overlay{
	position: fixed;
	opacity:0;
	top:0;
	left:0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0,.5);
	pointer-events: none;
}
#overlay.active{
	opacity: 1;
	pointer-events:all;
}
.footer{
	font-weight: normal;
	text-align: center;
	font-size: small;
}